@import "./styles/variables";
@import "./styles/fonts.scss";
@import "./components/header/header.scss";
@import "./components/slider/slider.scss";
@import "./components/navigation/navigation.scss";
@import "./components/footer/footer.scss";
@import "./components/button/button.scss";
@import "./components/catalog/catalog.scss";
@import "./components/productCard/productCard.scss";
@import "./components/feedback/feedback.scss";

html {
  background-color: $bgc;
  color: $c-main;
}

body {
  font-family: Ubuntu, sans-serif;
}

.title {
  font-family: 'Sensation', sans-serif;
}

.wrapper {
  padding-left: 120px;
  padding-right: 120px;
}

.main {
  margin-bottom: 238px;
}