.slider {
  display: flex;

  &__offer {
    margin-left: 120px;
  }

  &__offer-info {
    position: relative;

    width: 684px;
    border-left: 1px solid rgba(104, 97, 91, 0.42);
    padding-left: 152px;
  }

  &__offer-info-text {
    &--top {
      font-size: 68px;
      margin-bottom: 0;
      padding-bottom: 25px;
    }

    &--center {
      font-size: 26px;
      margin: 0;
      padding-bottom: 20px;
      color: $c-grey;
    }

    &--bottom {
      font-size: 22px;
      margin: 0;
      padding-bottom: 20px;
      color: $c-grey;
    }
  }

  &__offer-info-banner {
    position: absolute;
    left: 80px;
    top: -46px;

    margin: 0;
    padding: 14px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      border: 1px solid rgba(152, 136, 122, 0.60);
      transform: rotate(-12.663deg);
      border-radius: 100%;
      z-index: -1;
    }
  }

  &__offer-info-links {
    padding-top: 270px;
  }

  &__offer-info-links-link {
    margin-right: 30px;

    text-decoration: none;
    color: $c-grey;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__photos {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__photos-wrapper {
    position: relative;
  }

  &__photos-pagination {
    position: absolute;
    bottom: 20px;
    left: -68px;

    display: flex;
    flex-direction: column;

    font-size: 42px;
    font-family: 'Sensation', sans-serif;
  }

  &__photos-pagination-part {
    font-size: 26px;
    color: $c-lightgrey;
  }

  &__photos-pagination-button  {
    background: none;
    border: none;

    color: $c-lightgrey;
    font-size: 30px;
    cursor: pointer;

    padding: 0;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__photos-pagination-button--active {
    color: $c-grey;
  }

  &__photos-photo {
    height: 735px;
    width: 300px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &--first {
      background-image: url('../../images/head-img.png');
    }

    &--second {
      position: absolute;
      top: -118px;
      left: -138px;

      background-image: url('../../images/head-img2.png');

      height: 560px;
    }

    &--third {
      background-image: url('../../images/head-img3.png');

      height: 770px;
    }
  }
}
